body {
background: linear-gradient(to bottom, rgba(241,229,51,1), rgba(211,12,27,1),rgba(103,16,97,1),rgba(25,16,132,1));
    height:100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,h2,p {

}

p {
  font-size:1.5em;
}

nav ul{
  list-style-type: none;
  /*width: 60px;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
